importFrom("stats", "IQR", "as.formula", "bw.SJ", "coef", "cov",
            "dnorm", "lm", "model.frame", "model.matrix",
            "model.response", "na.omit", "na.pass", "pnorm",
            "printCoefmat", "pt", "qnorm", "qt", "quantile", "rnorm",
            "runif", "sd", "var", "resid")
importFrom("utils", "installed.packages")
importFrom("stats", "nobs")
import(Formula,randtoolbox,sfsmisc)
export(teradial, tenonradial, teradialbc, tenonradialbc, nptestrts, nptestind, sf, truncreg)
useDynLib(npsf, .registration = TRUE)
S3method("coef", "npsf")
S3method("vcov", "npsf")
S3method("nobs", "npsf")
S3method("print", "npsf")
S3method("summary", "npsf")
S3method("print", "summary.npsf")
